[flake8]
ignore = E203, E266, E501, W503, E722, PIE783, PIE786, SCS108, B008, E704
exclude =
    .git,
    __pycache__,
    migrations,
    config/*,
max-line-length = 120
per-file-ignores =
    # imported but unused
    __init__.py: F401
    tests.py: F401
    **/migrations/*.py: N806
omit =
    manage.py
    **/*/*urls.py
    **/urls/*.py
    **/test_*
    config/*
    config/base.py
    config/local.py
    config/production.py
